.btn-logout {
  background-color: var(--orange);
  border: 0px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  padding: 8px 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.box-products {
  margin-top: 60px;
}

.navbar {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 16px 30px;
}

.links-container, .name-logout-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.button-navbar {
  background-color: white;
  font-size: 16px;
  color: #8F8F8F;
  border-radius: 20px;
  padding: 8px 10px;
}

.button-navbar:hover {
  background-color: var(--orange);
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.user-name {
  color: var(--dark-blue);
  font-family: 'Source Sans 3';
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  text-decoration: none;
}

.btn-logout:hover {
  background-color: var(--orange-hover);
  transition: 0.5s;
  cursor: pointer;
}


@media screen and (min-width : 600px) {
  .btn-logout, .user-name, .button-navbar {
    font-size: 20px;
  }
}